
html, body {
    font-family: "Times New Roman", Times, serif;
}
.noteBox{
    width: 100%;
}
.normal{
    color: green;
   
}
.agent{
    color: red;
    
}
.showtext{
    overflow-wrap: break-word;
    word-break:keep-all;
}
